@using System;
@using NinthBall.Core;
@using NinthBall.Outputs;

@inject OutputOptions OutputConfig

<!-- Summary view of chosen percentiles -->
<table id="percentiles" class="table table-sm caption-top section" style="table-layout: fixed; width: 100%;">
    <caption>
        <h3>Percentiles</h3>
    </caption>
    <tbody>

        <!-- Percentile Tags -->
        <tr>
            <td>Percentile</td>

            @foreach (var p in Percentiles)
            {
                <td class="text-primary">
                    @p.PctlName
                </td>
            }
        </tr>

        <!-- Ending balance (Real) -->
        <tr>
            <th>End (Real)</th>

            @foreach (var p in Percentiles)
            {
                var iter = SimResult.Percentile(p);

                if (iter.Success)
                {
                    var endBalance = (iter.LastGoodYear.Dec.Total / iter.LastGoodYear.Metrics.InflationMultiplier).Millions();
                    <th>@endBalance</th>
                }
                else
                {
                    <td class="text-danger">--</td>
                }
            }
        </tr>

        <!-- Ending balance (Nominal) -->
        <tr>
            <td>End (Nominal)</td>

            @foreach (var p in Percentiles)
            {
                var iter = SimResult.Percentile(p);

                if (iter.Success)
                {
                    var endBalance = iter.LastGoodYear.Dec.Total.Millions();
                    <td class="text-secondary">@endBalance</td>
                }
                else
                {
                    <td class="text-danger">--</td>
                }
            }
        </tr>

        <!-- End-to-end ROI (Annualized) -->
        <tr>
            <td>Change (Annualized)</td>

            @foreach (var p in Percentiles)
            {
                var iter = SimResult.Percentile(p);
                var annualizedEffectiveROI = iter.GetAggregateValue(CID.ROI);

                <td class="text-secondary">
                    @($"{annualizedEffectiveROI:P1}")
                </td>
            }
        </tr>

    </tbody>

</table>

@code
{
    [Parameter] public SimResult SimResult { get; set; } = null!;
    // [Parameter] public OutputOptions OutputConfig { get; set; } = new([], [], [], []);

    private IReadOnlyList<double> Percentiles => OutputConfig.Percentiles;
}
