@using System;
@using NinthBall.Core;

<!-- Survival rate and failures by year -->
<table class="table table-sm caption-top" style="table-layout: fixed; width: 100%;">
    @{
        var survivalRate = SimResult.SurvivalRate;
        var txtSurvivalRate = survivalRate >= 0.98 && survivalRate != 1.0 ? $"{survivalRate:P1}" : $"{survivalRate:P0}";
        var cssSurvivalRate = survivalRate < 0.9 ? "text-danger" : survivalRate >= 0.95 ? "text-success" : "";

        var failureBuckets = SimResult.GetFailureBuckets();
        var totalFailures = SimResult.Iterations.Count(x => !x.Success);
    }
    <caption>
        <h3>Survival rate: <span class="@cssSurvivalRate">@txtSurvivalRate</span></h3>
    </caption>
    <thead>
        <tr>
            <td>
                Years:
            </td>
            @foreach (var bucket in failureBuckets)
            {
                var caption = $"{bucket.FromYear}-{bucket.ToYear}";

                <td class="text-primary">
                    Years @caption
                </td>
            }

            <td class="text-primary">
                Total
            </td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                Failures:
            </td>
            @foreach (var bucket in failureBuckets)
            {
                var txtFailed = 0 == bucket.NumFailed ? "" : $"{bucket.NumFailed}";
                <th>@txtFailed</th>
            }
            <th>@totalFailures</th>
        </tr>
    </tbody>

</table>

@code
{
    [Parameter] public SimResult SimResult { get; set; } = null!;
}