@using NinthBall.Core;

<div>
    <SimParameters Model=Model />
    <SimFailureBuckets Model=Model />
    <SimPercentilesSummary Model=Model />
    <SimIterationTabs Model=Model />
</div>

@code
{
    [Parameter] public SimResult Model { get; set; } = null!;
}