@using System;

<!-- Survival rate and failures by year -->
<table class="table table-sm caption-top" style="table-layout: fixed; width: 100%;">
    @{
        var survivalRate = Model.SurvivalRate;
        var txtSurvivalRate = survivalRate > 0.99 && survivalRate < 1.0 ? $"{survivalRate:P1}" : $"{survivalRate:P0}";
        var failureBuckets = GetFailureBuckets().ToList();
    }
    <caption>
        <h3>Survival rate: @txtSurvivalRate</h3>
    </caption>
    <thead>
        <tr>
            <td>
                Years:
            </td>
            @foreach (var bucket in failureBuckets)
            {
                var caption = $"{bucket.From + 1}-{bucket.To + 1}";

                <td class="text-primary">
                    Years @caption
                </td>
            }

            <td class="text-primary">
                Total
            </td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th>
                Failures:
            </th>
            @foreach (var bucket in failureBuckets)
            {
                var txtFailed = 0 == bucket.NumFailed ? "" : $"{bucket.NumFailed}";
                <th>@txtFailed</th>
            }
            <th>@Failed.Count()</th>
        </tr>
    </tbody>

</table>

@code
{
    [Parameter] public SimResult Model { get; set; } = null!;
    
    IEnumerable<SimIteration> Results => Model.Iterations;
    IEnumerable<SimIteration> Failed => Model.Iterations.Where(x => !x.Success);
    IEnumerable<SimIteration> Survived => Model.Iterations.Where(x => x.Success);

    IEnumerable<FailureBucket> GetFailureBuckets()
    {
        var numBuckets = Model.NoOfYears / 5;
        numBuckets += Model.NoOfYears % 5 == 0 ? 0 : 1;

        for (int i = 0; i < numBuckets; i++)
        {
            var from = i * 5;
            var to = from + 5 - 1;
            var numFailed = Failed.Where(x => x.ByYear.Length - 1 >= from && x.ByYear.Length - 1 <= to).Count();
            yield return new(from, to, numFailed);
        }
    }

    record FailureBucket(int From, int To, int NumFailed);
}