@using System;
@using NinthBall.Core;

<!-- Summary view of chosen percentiles -->
<table id="percentiles" class="table table-sm caption-top" style="table-layout: fixed; width: 100%;">
    <caption>
        <h3>Percentiles</h3>
    </caption>
    <tbody>
        <tr>
            <th></th>
            @foreach (var p in PercentileTargets)
            {
                var pct100 = (int)(p * 100);
                var caption = 0 == pct100 ? "0th" : 1 == pct100 ? "1st" : 2 == pct100 ? "2nd" : 3 == pct100 ? "3rd" : $"{pct100}th";

                <td class="text-primary">
                    @caption
                </td>
            }
        </tr>
        <tr>
            <th></th>
            @foreach (var mood in PercentileSentiments)
            {
                <td class="text-secondary">@mood</td>
            }
        </tr>
        <tr>
            <th>End (Real)</th>
            @foreach (var p in PercentileTargets)
            {
                var iter = Model.Percentile(p);

                if (iter.Success)
                {
                    var endBalance = iter.ByYear.Span[^1].Dec.Total().InflationAdjustedValue(TheInflationRate, iter.SurvivedYears).Millions();
                    <th>@endBalance</th>
                }
                else
                {
                    <td class="text-danger">--</td>
                }
            }
        </tr>
        <tr>
            <td>End (Nominal)</td>
            @foreach (var p in PercentileTargets)
            {
                var iter = Model.Percentile(p);

                if (iter.Success)
                {
                    var endBalance = iter.ByYear.Span[^1].Dec.Total().Millions();
                    <td class="text-secondary">@endBalance</td>
                }
                else
                {
                    <td class="text-danger">--</td>
                }
            }
        </tr>
        <tr>
            <td>Change (Annualized)</td>
            @foreach (var p in PercentileTargets)
            {
                var iter = Model.Percentile(p);
                var pctChange = AnnualizeChangePCT(iter.ByYear);
                <td class="text-secondary">
                    @($"{pctChange:P1}")
                </td>
            }
        </tr>
    </tbody>

</table>

@code
{
    [Parameter] public SimResult Model { get; set; } = null!;

    // TODO: Percentile targets and captions are repeated. Consolidate
    static readonly double[] PercentileTargets = [0.00, 0.05, 0.10, 0.20, 0.50, 0.80, 0.90];
    static readonly string[] PercentileSentiments = ["Disaster", "Unlucky", "Unfortunate", "Target", "Coin-flip", "Fortunate", "Lucky"];
    const double TargetPctl = 0.2;

    // TODO: Externalize. 
    const double TheInflationRate = 0.03;


    static double AnnualizeChangePCT(ReadOnlyMemory<SimYear> byYear)
    {
        double compoundReturn = 1;
        int count = 0;

        for(int i=0; i<byYear.Length; i++)
        {
            var r = byYear.Span[i].ChangePCT;
            checked { compoundReturn *= (1 + r); }
            count++;
        }

        return 0 == count ? 0.0 : Math.Pow(compoundReturn, 1.0 / count) - 1;
    }

}
